*{
    box-sizing: border-box;
    margin: 2px;
    padding: 0;
    font-family: Crowd Funded;
    font-size: 25px;
    border-radius: 8px;
}

body{
    overflow: hidden;
    background-color: #FFCBA4;
    background-image: url(cloud.gif);
    background-repeat:inherit;
    
}

    /* PART 1 NAVIGATION BAR */

.body-image {
    background-color: #EAECEC;
    border: 1px solid black;
    outline-style: solid;
    outline-color: black;
    height: 737px;
    width: 870px;
    margin-left: 300px;
    padding: 5px 1px;
}

.header{
    background-color:#55CBCD;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    width: 860px;
    margin-left: 3px;
    padding: 8px 15%;
    border: -5px solid black;
    outline-style: solid;
    outline-color: black;
}

.header .logo{
    cursor: pointer;
    margin-right: auto;
}

.header .logo img{
    align-items: center;
    height: 65px;
    width: auto;
    transition: all 0.3s;
    margin-left: -132px;
    margin-top: 4px;
    border-style: solid; 
    border-color: #1A817F;
    border-width: 3px;
}

.header .logo img:hover{
    transform: scale(1.1);
}

.header .banner{
    list-style: none;   
}

.header .banner li{
    display: inline-block;
    padding: 13px 30px;   
    margin-left: -640px; 
    align-items: center;
    transition: all 0.3s;
    height: 77px;
    width: 655px;
}
.header .banner li:hover{
    transform: scale(1.1);
    
}

.header .banner a{
    font-size: calc(22px + 1vw);
    color: #FF9D5C;
    -webkit-text-stroke: 1px #000000;
    text-decoration: none;    
}

.header .banner li a:hover{
    color: #ffbc0e;
}

.active {
    font-weight: bold;
    font-size: calc(15px + 1vw);
}

        /* Background */

.parent {
    position: relative;
    top: 0;
    left: 0;
}
  
.mainbody {
    position: relative;
    top: 0;
    left: 0;
    justify-content: center;
    height: 650px;
    width: 859px;
    padding-top: 3px;
    padding-bottom: 1px;
    margin-left: 2px;
  
}
